# SQL Example

In [1]:
import os
import openai

openai.api_key = os.getenv("OPENAI_API_KEY")

prompt = """
### Postgres SQL tables, with their properties:
#
# Employee(id, name, department_id)
# Department(id, name, address)
# Salary_Payments(id, employee_id, amount, date)
#
### A query to list the names of the departments which employed more than 10 employees in the last 3 months
SELECT
"""

response = openai.Completion.create(
  model="text-davinci-003",
  prompt=prompt,
  temperature=0,
  max_tokens=150,
  top_p=1.0,
  frequency_penalty=0.0,
  presence_penalty=0.0,
  stop=["#", ";"]
)
print(response.choices[0]["text"])

    d.name
FROM
    Department d
INNER JOIN
    Employee e
ON
    d.id = e.department_id
INNER JOIN
    Salary_Payments sp
ON
    e.id = sp.employee_id
WHERE
    sp.date > NOW() - INTERVAL '3 months'
GROUP BY
    d.name
HAVING
    COUNT(e.id) > 10

In [4]:
base_prompt = """
### Postgres SQL tables, with their properties:
#
# Employee(id, name, department_id)
# Department(id, name, address)
# Salary_Payments(id, employee_id, amount, date)
#
"""

user_query = """
### A query to list the names of the departments which employed more than 10 employees in the last 3 months
SELECT
"""

response = openai.ChatCompletion.create(
  model="gpt-3.5-turbo",
  messages=[
        {"role": "system", "content": base_prompt},
        {"role": "user", "content": user_query},
    ]
)
print(response["choices"][0]["message"]["content"])

Department.name
FROM
Department
INNER JOIN Employee ON Employee.department_id = Department.id
INNER JOIN Salary_Payments ON Salary_Payments.employee_id = Employee.id
WHERE
Salary_Payments.date >= DATE_TRUNC('month', NOW()) - INTERVAL '3 MONTH'
GROUP BY
Department.name
HAVING
COUNT(Employee.id) > 10;